:root {
  font-family: Inter, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-align: start;
  text-size-adjust: 100%;   /* keep its specified font size regardless of device size */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  /* remove tap highlights across the app */
}

* {
  box-sizing: border-box;
}

div,span,td,th {
  color: rgb(75, 86, 117);
}
